@import './base.css';

#app {
  min-width: 100%;
  min-height: 100%;
  font-weight: normal;
  background-color: rgba(244,244,244,1);
  overflow: hidden;
}

.base{
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.left-container{
  width: 50%;
  min-width:370px;
  min-height: 660px;
  float: left;
  height: 100vh;

}
.right-container{
  width:50%;
  min-width:375px;
  min-height: 667px;
  float:right;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 800px) {
  .right-container, .left-container {
    width: 100%; 
  }
}

.response{
  padding:10px 50px;
  margin:15px auto;
  width: max-content;
  background-color: rgba(244,244,244,1);
  border-radius: 50px;
  height: fit-content;
}
.response ul{
  list-style: none;
  padding: 0 ;  
}
.drop-enter-active {
  animation: fadeIn 1s;
}
.drop-leave-to {
  animation: fadeOut 1s;
}
@keyframes fadeIn {
  0% { transform:scale(1); opacity: 0; }
  50% {transform:scale(1.2);opacity: 0.8;}
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.error{
  padding:10px 50px;
  margin:0 auto;
  width: max-content;
  background-color: rgba(205,65,70,1);
  border-radius: 50px;
  height: fit-content;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.error ul{
  padding: 0;
  color:white;
  min-width:150px;
  text-align: center;
}

@keyframes spreadOut{
  0%  {opacity: 0; transform:scale(1); width:10px;}
  50% {transform:scale(1.2);width:200px;}
  80% {width:270px;opacity: 1;}
  100%{width:max-content;}
}

.errorTransition-enter-active{
  animation: spreadOut 0.8s;
}
.errorTransition-leave-to{
  animation: fadeOut 0.5s;
}

.successLogin-enter-active {
  animation: fadeIn 1s ;
}
.successLogin-leave-to{
  display: none;
}

.regForm-enter-active{
  animation: fadeIn 1s;
}

.regForm-leave-active{
  display: none;
}


/*Left container*/

/*Register container*/
.reg-container{
  min-width: 300px;
  max-width: 400px;
  height: 400px;
  background-color: rgba(255,255,255,1);
  margin:25% auto;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #888888;
}

.reg-main-text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 49px;
  margin: 0 3%;
  padding: 15px;
}

.reg-main-text h1{
  font-size: 30px;
  color: #757575;
}

.reg-main-text h6{
  font-size: 14px;
  color: #A1A1A1;
  
}

/*Form*/

.form-container{
  padding: 0px 25px;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
form .txt_field.psw{
  margin: 10px 0;
  position: relative;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #4A90E2;
  line-height: 15px;
  font-size: 12px;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.remember{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #A1A1A1;
  height: 20px;
  display: inline-flex;
  align-items: center;
}
.custom-checkbox {
  display: none; 
}

.custom-checkbox + label {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  display: inline-flex;
  align-items: center; 
  cursor: pointer;
  transition: .3s;
}

.custom-checkbox:checked + label {
  background-color: rgba(74,144,226,1);
  border-color: rgba(74,144,226,1);
  
}

.remember h5{
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #A1A1A1;
}
.btn-container{
  position: relative;
}
form button{
  position: absolute;
  right:0;
  margin: 25px auto;
  padding: 12px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgba(74,144,226,1);
  cursor: pointer;
}

form button:hover{
  background-color: rgb(64, 123, 190);
  transition: .3s;
}

i.fa-eye{
  position: absolute;
  background-image: url("../components/icons/fa-eye@2x.png");
  width: 30px;
  height: 20px;
  background-size: cover;
  display: flex;
  right: 10px;
  top:50%;
  cursor: pointer;
  transition: .5s;
}
i.fa-eye-slash{
  position: absolute;
  background-image: url("../components/icons/fa-eye-slash@2x.png");
  width: 30px;
  height: 20px;
  background-size: cover;
  display: flex;
  right: 10px;
  top:50%;
  cursor: pointer;
  transition: .5s;
}
.txt_field.psw input:focus ~ span i.fa-eye,
.txt_field.psw input:focus ~ span i.fa-eye-slash,
.txt_field.psw input:focus ~ span .password-strength{
  top:13px;
}
.password-strength {
  position: absolute;
  top: 50%;
  right: 0px; 
  transform: translateY(-50%);
  display: grid;
  gap: 5px; 
  transition: .5s;
}

.password-strength .dot {
  width: 5px;
  height: 5px;
  background-color: gray;
  border-radius: 50%;
}

.password-strength .low{
  background-color: #CD4146;
}

.password-strength .medium{
  background-color: #F9C466;
}

.password-strength .good{
  background-color:#0A96A3
}

.password-strength .perfect{
  background-color:lightgreen
}


/*Right container*/

.background{
  background-image: url("../components/icons/lake-mountains-blur11.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.logo{
  display: flex;
  position: absolute;
  margin:5% 10%;
  width: 310px;
  height: fit-content;
  top:15%;
}
.logo i.acme{
  background-image: url("../components/icons/acme@3x.png");
  background-size: contain;
  background-repeat:no-repeat ;
  width:200px;
  height: 50px;
  margin:5px 10%;
}
.content{
  position: absolute;
  top:30%;
  margin: 5px 10%;
  width: 310px;
  display: flex;
  flex-direction: column;

}
.text-container h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  color:#FFFFFF
}
.text-container h4{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}
.text-container{
  width: 310px;
  margin:10% 10%;
}

.login-btn{
  top:50%;
  margin: 5px 10%;
  display: inline-flex;
  width: 400px;
  max-height: 45px;
}

.login-btn button{
  padding: 12px 30px;
  border-radius: 5px;
  border:white 3px solid;
  color: white;
  background-color: transparent;
  cursor: pointer;
  width:120px
}
.login-btn button:hover{
  background-color: rgba(74,144,226,1);
  transition: .3s;
  border: transparent 3px solid;
}
.login-btn button.disable{
  background-color: rgba(255, 255, 255, 0.59);
  cursor: not-allowed;
}
.triangle{
  background-image: url("../components/icons/warning-sign.png");
  background-size: cover;
  width:25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}
.loader {
  border: 8px solid #f7f7f7; 
  border-top: 8px solid #4A90E2; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin:auto 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}